<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<header class="section-header text-center">
    <h1 class="section-header__title h2">Contactos</h1>
</header>
<div class="grid">
    <div class="grid__item medium-up--four-fifths medium-up--push-one-tenth">
        <div class="rte rte--contact">
            <p><strong>WhatsApp</strong>&nbsp;</p>
            <p>(+351) 214 420 636</p>
            <p><strong>Email</strong></p>
            <p>cafelabpt@gmail.com</p>
            <p><strong>Redes Sociais - Mensagem Direta</strong></p>
            <p><a href="https://www.instagram.com/cafelablisbon/" target="_blank" title="Instagram" rel="noopener noreferrer"
                  aria-describedby="a11y-new-window-external-message">Instagram</a></p>
            <p><a href="https://www.facebook.com/cafelablisbon/" target="_blank" title="Facebook" rel="noopener noreferrer"
                  aria-describedby="a11y-new-window-external-message">Facebook</a></p>
            <p><strong>Formulário&nbsp;</strong></p>
        </div>
        <form method="post" action="/contact#contact_form" id="contact_form" accept-charset="UTF-8" class="contact-form">
            <input type="hidden" name="form_type" value="contact">
            <input type="hidden" name="utf8" value="✓">
            <div class="grid">
                <div class="grid__item medium-up--one-half">
                    <label for="ContactFormName" class="label--hidden">Nome</label>
                    <input type="text" id="ContactFormName" name="contact[Nome]" placeholder="Nome" autocapitalize="words" value="">
                </div>
                <div class="grid__item medium-up--one-half">
                    <label for="ContactFormEmail" class="label--hidden">Email</label>
                    <input type="email" id="ContactFormEmail" name="contact[email]" placeholder="Email" autocorrect="off" autocapitalize="off" value="">
                </div>
            </div>

            <label for="ContactFormPhone" class="label--hidden">Número de Telefone</label>
            <input type="tel" id="ContactFormPhone" name="contact[Número de Telefone]" placeholder="Número de Telefone" pattern="[0-9\-]*" value="">

            <label for="ContactFormMessage" class="label--hidden">Mensagem</label>
            <textarea rows="6" id="ContactFormMessage" name="contact[Mensagem]" placeholder="Mensagem"></textarea>

            <input type="submit" class="btn" value="Enviar">
        </form>
    </div>
</div>
</body>
</html>